.delivery-info
  display block

  &__table
    display none

  @media screen and (min-width: 768px)
    &__table
      display block

    &__mobile
      display none

.delivery-info-table
  margin-bottom 20px
  width 100%

  // modifiers
  &--bordered,
  &--bordered td,
  &--bordered th
    border: 1px solid #ddd
  
  &--bordered th
    border-bottom-width: 2px

  &--mobile
    border 1px solid #c1c9d4
    font-size large

    .delivery-info-table__column
      padding: 10px

      &:nth-child(1)
        width: 70%
    
    .delivery-info-table__price
      font-weight bold

  // elements
  &__header th
    font-weight bold
    text-align left
    vertical-align bottom

  &__row
    &:nth-child(odd)
      background-color #f9f9f9

  &__column
    padding: 0.5rem
  
    &:nth-child(1)
      text-align left
      width: 30%

  &__price
    &:empty:after
      content "-"
    &:not(:empty):before
      content "€ "

  &__tax-free
    display block
    font-size smaller
    color #ee7f01

  &__nif-required
    display block
    font-size smaller
    color red

.delivery-info-mobile
  padding 10px

  &__dropdown
    width 100%
    margin-bottom 15px