.discovery-image-slider
  display block
  overflow: hidden

.discovery-image-slider-container
  display flex
  flex-direction row

.discovery-image-heading
  color #0D1E34
  font-family "FiraSans"
  font-size 25px
  font-weight 600
  letter-spacing 0
  line-height 30px
  margin 8px 0px 11px 0px

.discovery-image-slider-wrapper
  width 100%

.discovery-slide
  width 300px!important

.discovery-image-spot
  background-color: gray
  padding: 5px
  margin: 2px

.product-item
  position relative
  width 180px
  margin 0 auto
  padding 0
  border-top 0

.discovery-image {
  min-width 300px
  min-height 300px
}